<encabezado></encabezado>
<div>
  <div class="row">
    <menu-roles></menu-roles>
    <div class="col-sm-9">
      <div class="row">
        <ol class="breadcrumb">
          <li id="initbreadcrumb"><a href="#/agencias">Agencias</a></li>
          <li id="accionbreadcrumb"><a href="">Agregar</a></li>
        </ol>
	    </div>
      <div id="form_div" class="row margin-auto div-width">
	      <div ng-show="error" class="alert alert-danger ng-binding ng-scope ng-hide">{{error}}</div>
        <form name="form" ng-submit="agregarAgencia()" role="form" class="ng-scope ng-pristine ng-invalid ng-invalid-required">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="nombre" required="">
            <span ng-show="form.nombre.$dirty &amp;&amp; form.nombre.$error.required" class="help-block ng-hide">Nombre es requerido</span>
          </div>

          <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger" disabled="disabled">Agregar agencia</button>
            <img ng-if="dataLoading" ng-src="{{imgLoading}}"/>
          </div>
        </form>
	    </div>
    </div>
  </div>
</div>
