<encabezado></encabezado>
<div>
  <div class="row">
    <menu-roles></menu-roles>
    <div class="col-sm-9">
      <div class="row">
        <ol class="breadcrumb">
          <li id="accionbreadcrumb"><a href="">Cambiar Contraseña</a></li>
        </ol>
	    </div>
      <div id="form_div" class="row margin-auto div-width">
	      <div ng-show="error" class="alert alert-danger ng-binding ng-scope ng-hide">{{error}}</div>
        <form name="form" ng-submit="changePassword()" role="form" class="ng-scope ng-pristine ng-invalid ng-invalid-required">
          <div class="form-group">
            <label for="currentPassword">Contraseña actual</label>
            <input type="password" name="currentPassword" id="currentPassword" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="currentPassword" required="">
            <span ng-show="form.currentPassword.$dirty &amp;&amp; form.currentPassword.$error.required" class="help-block ng-hide">Contraseña actual es requerido</span>
            <span ng-if="errorPassword">Error de contraseña</span>
          </div>

          <div class="form-group">
            <label for="newPassword">Contraseña nueva</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="newPassword" required="">
            <span ng-show="form.newPassword.$dirty &amp;&amp; form.newPassword.$error.required" class="help-block ng-hide">Nueva contraseña es requerido</span>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Repetir contraseña</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="confirmPassword" required="">
            <span ng-show="form.confirmPassword.$dirty &amp;&amp; form.confirmPassword.$error.required" class="help-block ng-hide">Confirmar contraseña es requerido</span>
            <span ng-if="errorConfirmPassword">Contraseñas no coinciden</span>
          </div>

          <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger" disabled="disabled">Cambiar contraseña</button>
            <img ng-if="dataLoading" ng-src="{{imgLoading}}"/>
          </div>
        </form>
	    </div>
    </div>
  </div>
</div>
